<div class="item">
            <div>Foto url</div>
            <div>
                <input 
                    type="url"
                    name ="avatar_url"
                    placeholder="http://"
                    value="{{employee.avatar_url}}"
                >
            </div>
        </div>
        
        <div class="item">
            <div>Nome</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Nome do funcionário"
                    value="{{employee.name}}"
                >
            </div>
        </div>

         <div class="item">
            <div>Email</div>
            <div>
                <input 
                type="text"
                name="email"
                placeholder="email"
                value="{{employee.email}}"
                >
            </div>
        </div>

         <div class="item">
            <div>Telefone</div>
            <div>
                <input 
                type="text"
                name="tel"
                placeholder="Telefone"
                value="{{employee.tel}}"
                >
            </div>
        </div>

        <button type="submit">Salvar</button>