<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Cadastro de Funcionários</title>
        {% endblock %}

        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 

    </head>

    <body>
        <header>CADASTRO DE FUNCIONÁRIOS</header>
    </body>

    {% block content %}{% endblock %}

</html>