{% extends 'layout.njk'%}

{% block content %}

<!-- usar o form, o metodo post e o action para criar um formulário -->
<div class="card">
    <section class='img' style = "background: url({{ employee.avatar_url }}) no-repeat  center center / cover">

    </section>
    <section class="data">
        
        <h3>Detalhes</h3>
        <div class="item">
            <div>Nome</div>
            <div> {{ employee.name }}</div>
        </div>

         <div class="item">
            <div>Email</div>
            <div>{{ employee.email }}</div>
        </div>

         <div class="item">
            <div>Telefone</div>
            <div>{{ employee.tel}}</div>
        </div>
        
        <div class="b">
            <a class='pbt' href="/{{ employee.id }}/edit" class='button'>Editar</a>
            <a class='sbt' href="/">Novo funcionário</a>
        </div>

        
        
    </section>
</div>
{% endblock %}